<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1 id="asd">The start of new era!</h1>
{% block shit %}{% endblock %}
</body>
</html>